.green{
    background-color: #5DB836;
}
.blue{
    background-color:#5184CF;
}
.orange{
    background-color: #d58512;
}
.purple{
    background-color: purple;
}
.red{
    background-color: red;
}
.black{
    background-color: black;
}